<!DOCTYPE html>
<html>
    <head>
        <title>LOGIN</title>
         <link rel="stylesheet" href="login.css">

    </head>
    <body>

        <div class="loginform">
        <form action="">
             <h2>Sign Up</h2><br>
            <label for="Sign_Username">Name: </label><br>
            <input type="text" name="Sign_Username" value=""><br>
            <label for="Sign_Password">Password: </label><br>
            <input type="text" name="Sign_Password" value=""><br><br>
            <label for="Sign_Password">Password Check </label><br>
            <input type="text" name="Sign_Password" value=""><br><br>
            <input type="submit" value="Submit">      
        </form>
        </div>
        
    </body>
</html>
